<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E4157BAF-81CA-4C17-B7FB-EF6CF96F1307</key>
	<dict>
		<key>partialPath</key>
		<string></string>
		<key>policySearch</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
